.footerList li {
    display: inline;
}

.footerList ul {
    padding: 0px;
}

.footerList a {
    text-decoration: none;
    transition: ease 0.25s;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}

.footerList a:hover {
    color: red;
}

#footer {
    padding: 0px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

#storeColor a {
    color: #1F87B2;
}